/* element defaults */
	body {
		font-family: Verdana, Geneva, Arial, sans-serif;
		font-size: 10pt;
		margin: 0px;
	}

	dl, dd, p {
		margin: 0 0 0 0;
	}
	dt {
		font-weight: bold;
	}

	input.text, input.password, select {
		border: 1px solid;
	}

	ul {
		list-style: none;
		padding: 0 0 0 0;
	}

	tr {
		border-bottom: 1px solid #ecf1f5;
	}

	td, th {
		vertical-align: top;
		text-align: left;
		white-space: nowrap;
	}

/* first screen */
	#login, #motd, #login_error {
		background-color: #edf2f2;
		border: 1px solid #d0d9d9;
		color: #000000;
		width: 300px;
		padding: 10px 10px 10px 10px;
		margin: 3em auto 1em auto;
		text-align: left;
	}
	#login h1 {
		margin-top: 0;
		font-size: 140%;
	}
	#login dt {
		font-weight: normal;
	}
	#login dd {
	}
	#login ul {
		list-style: none;
		padding: 0 0 0 0;
		margin-bottom: 1em;
	}
	#login input[type="text"], #login input[type="password"], #login select {
		background-color: #ffffff;
		border-left: 1px solid #999999;
		border-top: 1px solid #999999;
		border-right: 1px solid #e7e7e7;
		border-bottom: 1px solid #e7e7e7;
		width: 100%;
	}
	#login .submit, #login input[type="submit"] {
		background-color: inherit;
		border-left: 2px solid #ffffff;
		border-top: 2px solid #ffffff;
		border-right: 2px solid #d9d9d9;
		border-bottom: 2px solid #d9d9d9;
		color: #003399;
		font-weight: bold;
	}

/* header and footer */
	#header {
		background: #c6d3d3 url("../images/blueray/header_rai.png") bottom left repeat-x;
		min-height: 39px;
		height: 3em;
		margin: 0;
		margin-bottom: 1em;
		padding: 15px 0;
		position: relative;
		clear: both;
	}
	#header h1 {
		color: #384c72;
		margin-top: 0;
		margin-left: 150px;
		position: absolute;
		display: block;
		font-size: 140%;
	}
	#header a {
		color: #000000;
		text-decoration: none;
	}
	#header ul {
		background-color: transparent;
		display: block;
		list-style: none;
		padding: 0 15px 0 0;
		z-index: 90;
		width: auto;
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 0;
	}
	#header ul li {
		display: inline;	/* Nebeneinander */
		float: right;
		white-space: nowrap;
		background-color: #5e759b;
		margin: 0 1px 0 0;
		border: 1px solid #5e759b;
		-moz-border-radius-topleft: 8px;
		-moz-border-radius-topright: 8px;
	}
	#header ul li.active {
		background: #c6cedb url("../images/blueray/tab_active.png") bottom left repeat-x;
		border-bottom: 1px solid #ffffff;
	}
	#header ul li a {
		float: left;
		display: block;
		padding: 4px 4px 4px 4px;
		font-weight: bold;
		color: #fff;
		text-decoration: none;
	}
	#header ul li.active a {
		color: #5e759b;
	}
	#header_img {
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 20px;
		right: 0px;
		width: 250px;
		height: 69px;
	}
	#header_info {
		float:right;
		font-size: small;
		padding-right: 20px;
	}
	#header_info a {
		text-decoration: underline;
	}

	#footer {
		font-size: x-small;
		color: #cccccc;
		text-align: center;
		text-decoration: none;
		border-top: 1px solid #cccccc;
		margin: 0 60px 0 60px;
		clear: both;
	}
	#footer a {
		text-decoration: underline;
		color: inherit;
	}

/* parts */
	#sidebar {
		float: left;
		clear: right;
		margin-left: 1em;
		margin-right: 1em;
		width: 130px;
	}

	#userlist {
		border-color: #c6d3d3;
		font-size: smaller;
	}
	#userlist dd {
		margin-left: 1em;
	}

	#content {
		float: left;
		clear: none;
		margin-bottom: 1em;
		margin-left: 1em;
	}

	#content, #filter, #data, #admin {
		width: 580px;
	}

/* panels */
	#filter {
		margin-bottom: 2em;
		padding-bottom: .5em;
		white-space: nowrap;
	}
	#filter_left {
		float: left;
		margin-bottom: 1em;
	}
	#filter_right {
		float: left;
		text-align: right;
		margin-left: 10px;
		margin-bottom: 1em;
	}
	#data {
		background: #f6f8fb url("../images/blueray/content_ver.png") top right repeat-y;
		border-color: #ecf1f5;
		margin-bottom: 2.5em;
		padding-bottom: .5em;
		clear: left;	/* else #filter will fall into #data */
	}
	#data h2, #admin h2 {
		font-size: 130%;
		float: left;
		clear: left;
		margin-top: .7em;
	}
	#data span.pagelist {
		float: right;
		margin-top: .7em;
		margin-right: 1em;
	}
	#data table, #admin table,
	table.data, table.admin {
		border-collapse: collapse;
		clear: both;
		padding: 0;
		margin: 0;
		margin-bottom: 1em;
		width: 100%;
	}
	#data dl, #admin dl {
		border-bottom: 1px solid #ecf1f5;
		width: 100%;
		clear: both;
	}
	#data dt, #admin dt {
		font-weight: bold;
		width: 180px;
		float: left;
	}
	#admin {
		margin-bottom: 2.5em;
	}
	#admin dd, #data dd {
		display: table-cell;
		width: 400px;
		white-space: nowrap;
	}
	#admin li {
		float: left;
		margin-right: 5px;
	}
	#admin .submit, #login input[type="submit"] {
		background-color: inherit;
		border-left: 2px solid #ffffff;
		border-top: 2px solid #ffffff;
		border-right: 2px solid #d9d9d9;
		border-bottom: 2px solid #d9d9d9;
		color: #003399;
		font-weight: bold;
		margin-left: 180px;
	}
	input[type="text"], input[type="password"],
	select, input[type="checkbox"],
	textarea {
		font: inherit;
		background-color: #ffffff;
		border-left: 1px solid #999999;
		border-top: 1px solid #999999;
		border-right: 1px solid #e7e7e7;
		border-bottom: 1px solid #e7e7e7;
		max-width: 480px;
	}
	input[type="checkbox"] {
		width: .8em;
		height: .8em;
	}
	input.password,
	#admin input[type="text"], #admin select {
		width: 100%;
	}
	#admin input.email_alias, #admin select.email_domain {
		width: auto;
	}

	#admin_acl th, #admin_acl td {
		min-width: 133px;
		text-align: center;
	}
	#admin_acl th.left, #admin_acl td.left {
		width: 180px;
		text-align: left;
	}

	tr.matching {
		border: 1px dashed green;
	}
	tr.matching span {
		color: green;
	}

	TABLE.acl_matrix {
		border-collapse: collapse;
		padding: 0;
		margin: 0;
		width: 100%;
	}
	TABLE.acl_matrix TR TD, TABLE.acl_matrix TR TH {
		text-align: center;
		font-size: 10px;
	}
	TABLE.acl_matrix TR TD:first-child, TABLE.acl_matrix TR TH:first-child {
		text-align: left;
	}

/* boxes */
	div.box_error, div.box_info {
		color: #000000;
		margin: 1em auto 1em 1em;
		padding-left: 25px;
		width: 555px;
	}
	div.box_error, #login_error {
		background: #ffffff url("../images/blueray/sideicon_error.png") top left repeat-y;
		border: 1px solid #ff4b4b;
	}
	div.box_info {
		background: #ffffff url("../images/blueray/sideicon_info.png") top left repeat-y;
		border: 1px solid #8080ff;
	}
	#motd {
		background: #ffffff url("../images/blueray/quote.png") top left no-repeat;
		border-style: dashed;
	}
	#folder_acl_tree {
		border-top: 1px solid grey;
		border-bottom: 1px solid grey;
		clear: both;
	}

/* special modifiers */
	li.leaf span a {
		text-decoration: none;
	}
	span.quasi_btn {
		color: #003399;
		cursor: pointer;
		white-space: nowrap;
	}
	span.annotation {
		font-weight: normal;
		font-size: smaller;
	}
	span.bold {
		font-weight: bold;
	}
	input.filter {
		width: auto;
	}
	.deactivated {
		text-decoration: line-through;
	}
	.found {
		color: green;
	}
	.nomargin {
		margin: 0 0 0 0;
	}

	.roundblock {
		padding: 8px;
		margin-bottom: 1em;
		border: 1px solid;
		-moz-border-radius: 8px;
	}
	.cigarblock {
		margin-bottom: 1em;
		border-top: 1px solid;
		border-bottom: 1px solid;
	}
