html * {
	padding: 0;
	margin: 0;
}
body * {
	padding: 10px 20px;
}
body * * {
	padding: 0;
}
body {
	font: small sans-serif;
	background: #70DBFF;
}
body>div {
	border-bottom: 1px solid #ddd;
}
h1 {
	font-weight: normal;
}
h2 {
	margin-bottom: .8em;
}
h2 span {
	font-size: 80%;
	color: #666;
	font-weight: normal;
}
h2 a {
	text-decoration: none;
}
h3 {
	margin: 1em 0 .5em 0;
}
h4 {
	margin: 0.5em 0 .5em 0;
	font-weight: normal;
	font-style: italic;
}
table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	background: white;
}
tbody td, tbody th {
	vertical-align: top;
	padding: 2px 3px;
}
thead th {
	padding: 1px 6px 1px 3px;
	background: #70FF94;
	text-align: left;
	font-weight: bold;
	font-size: 11px;
	border: 1px solid #ddd;
}
tbody th {
	text-align: right;
	color: #666;
	padding-right: .5em;
}
table.vars {
	margin: 5px 0 2px 40px;
}
table.vars td, table.req td {
	ont-family: monospace;
}
table td {
	background: #70FFDB;
}
table td.code {
	width: 95%;
}
table td.code div {
	overflow: hidden;
}
table.source th {
	color: #666;
}
table.source td {
	font-family: monospace;
	white-space: pre;
	border-bottom: 1px solid #eee;
}
ul.traceback {
	list-style-type: none;
}
ul.traceback li.frame {
	margin-bottom: 1em;
}
div.context {
	margin: 5px 0 2px 40px;
	background-color: #70FFDB;
}
div.context ol {
	padding-left: 30px;
	margin: 0 10px;
	list-style-position: inside;
}
div.context ol li {
	font-family: monospace;
	white-space: pre;
	color: #666;
	cursor: pointer;
}
div.context li.current-line {
	color: black;
	background-color: #70FF94;
}
div.commands {
	margin-left: 40px;
}
div.commands a {
	color: black;
	text-decoration: none;
}
p.headers {
	background: #70FFDB;
	font-family: monospace;
}
#summary {
	background: #00B8F5;
}
#summary h2 {
	font-weight: normal;
	color: #666;
}
#traceback {
	background: #eee;
}
#request {
	background: #f6f6f6;
}
#response {
	background: #eee;
}
#summary table {
	border: none;
	background: #00B8F5;
}
#summary td  {
	background: #00B8F5;
}
.switch {
	text-decoration: none;
}
.whitemsg {
	background: white;
	color: black;
}
