body {
	background-image: url(../images/setup/body.png);
	background-repeat: repeat-x;
	background-color: #e1d4c0;
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: 10pt;
	margin: 0;
}
h1, h2 {
	margin: 0;
}
h3 {
	text-decoration: underline;
}
div.setup_outer {
	background-image: url(../images/setup/shadow.png);
	background-color: #f5ede3;
	width: 820px;
	height: 100%;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}
div.setup_head_outer {
	background-image: url(../images/setup/head_sh.png);
	background-color: #003366;
	color: #ffffff;
	margin: 0;
	height: 67px;
}
div.setup_head, div.setup_body {
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	width: 720px;
}
div.setup_head {
	padding-top: 8px;
}
div.setup_body {
	padding-top: 2em;
}
table.settings {
	border-collapse: collapse;
	width: 100%;
}
table.settings td, table.settings th {
	text-align: left;
	padding-left: 0.3em;
	padding-right: 0.2em;
}
table.settings th {
	border-bottom: 1px #cccccc solid;
}
table.settings td {
	border-bottom: 1px #cccccc dotted;
}
th.w140 {
	width: 140px;
}
.good {
	color: green;
}
.tolerated {
	color: orange;
}
.bad {
	color: red;
}
div.next_step {
	position: relative;
	left: 600px;
	width: 140px;
}
dt {
	font-weight: bold;
}
input {
	background-color: #ffffff;
	border: 1px solid;
	width: 90%;
}
.hidden {
	display: none;
}
.ajax_ok {
	background-color: green;
	color: white;
	font-size: 9pt;
	padding: 1px 2px 1px 2px;
	margin-left: 1em;
}
a {
	color: blue;
}
input.fake_a {
	border: 0;
	background-color: inherit;
	text-decoration: underline;
	color: blue;
}
div.code {
	border: 1px dashed grey;
	background-color: white;
	padding-left: 1em;
}
